
	<div id="header-middle">

		<div class="container">
			<div id="header-middle-content" class="default">

				<div id="logo">
					<a href="/?_Dil=1">
						<img src="https://dosyaism.saglik.gov.tr/WebFiles/logolar/logo-tr.png"
							alt="ZONGULDAK İL SAĞLIK MÜDÜRLÜĞÜ">
					</a>
					<h2>
						<a href="https://saglik.gov.tr" title="T.C.SAĞLIK BAKANLIĞI" target="_blank">
							T.C.SAĞLIK BAKANLIĞI
						</a>
					</h2>
					<h1> ZONGULDAK İL SAĞLIK MÜDÜRLÜĞÜ </h1>
				</div>
			</div>
		</div>

	</div>
