<title>Login Page</title>
<!-- Link to Bootstrap CSS hosted version -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<style>
    body {
        background-color: #fff;
        background: url("/sb-rigging-oppacited.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-attachment: fixed;
        background-size: 500px 500px;
    }

    /* Duyurular Page */

    .textStyleHeader2 {
        color: rgba(83, 86, 90);
        text-align: center;
        font-weight: 100px;
        letter-spacing: -0.31px;
    }

    .textStyleHeader1 {
        color: rgba(218,41,28);
        text-align: center;
        font-size: 45px;
        font-weight: 500px;
        letter-spacing: -0.31px;
    }
    .h-style{
        font-size: 19px;
        color: rgba(218,41,28);
        text-align: left;
        font-weight: 500;
        letter-spacing: -0.31px;
    }
    .p-style{
        font-family: 'Times New Roman', serif;
        text-align: justify;
        text-justify: inter-ideograph;
    }

    /* basvuruKayitFormu Page css's */
    .error {
        border: 20px solid red;
    }
    .successAlert {
        margin-top: 5%;
    }
    div .form-control {
        border: 2px solid rgb(207, 185, 185);
    }

    .form-group {
        font-weight: bold;
        color: rgb(69, 69, 69);
    }

    /* FOOTER partial */
    .footerClass {
        margin-top: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .footerClass b {
        color: black;

    }

    /*
		Header Middle
	*/

    header.smaller #header-middle {
        display: none;
    }

    #header-middle-content {
        background: #f1eded;
    }

    #header-middle-content {
        padding: 20px 0px;
        height: 96px;
    }

    #header-middle-content #logo {
        position: relative;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        letter-spacing: 1.056px;
    }

    #header-middle-content #logo img {
        float: left;
        display: block;
        height: 83px;
        padding-right: 20px;
        margin-top: -14px
    }

    #header-middle-content #logo h1 {
        display: block;
        padding-bottom: 1px;
        font-size: 21px;
        color: rgba(83, 86, 90);
        font-weight: 500;
        letter-spacing: -0.31px;
    }

    #header-middle-content #logo h2 {
        display: block;
        padding-top: 4px;
        font-size: 17px;
        color: rgba(83, 86, 90);
        font-weight: 500;
    }

    #header-middle-content #logo h2 a {
        color: rgba(218, 41, 28);
        letter-spacing: -0.31px;
    }

    #header-middle-content #logo h2 a:hover {
        text-decoration: underline;
    }

    #header-middle-content #logo h3 {
        display: block;
        font-size: 19px;
        color: rgba(83, 86, 90);
        font-weight: 600;
        letter-spacing: -0.11px;
        /* text-transform:uppercase  */
    }
</style>