<!DOCTYPE html>
    <html lang="en">
        <head>
            <%- include('../partials/head'); %>
        </head>
        <body class="container">
            <header>
                <%- include('../partials/header'); %>
            </header>

            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-light" role="alert">
                            <h4 class="textStyleHeader1">DUYURU</h4>
                            <p class="textStyleHeader2">
                                2023 YILI 3. DÖNEM SÜDGE BAŞVURULARININ ALINMASI
                            </p>
                            <hr>
                                <h1 class="h-style">BAŞVURU YAPACAK ADAYLARIN DİKKATİNE !</h1>
                                <br>
                                <p class="p-style"> 2023 Yılı 3.Dönem 83. ve 84. Grup Sürücü Davranışlarını Geliştirme Eğitimi müracaatları <strong>18 EYLÜL 2023 Pazartesi Günü Saat 10.00</strong> İtibariyle bu <strong><a href="http://localhost:3000/user/basvuruKayitFormu">LİNK(bağlantı)</a></strong> Üzerinden Kabul Edilecektir. <strong>50</strong> kişinin müracaatı ile kayıtlar otomatik olarak sonlanacaktır. Müracaat sırasına göre kişilere kayıt numarası verilecek ve kişiler telefon/sms ile bilgilendirilecektir. &nbsp;</p>
                                <p class="p-style"> 2918 sayılı Karayolları Trafik Kanununun 48/5 maddesinin 4785 sayılı kanunla değişik 5.fıkrasına dayanılarak Sağlık Bakanlığınca hazırlanan ve 14.09.2004 tarih ve 25583 sayılı resmi gazetede yayımlanarak yürürlüğe giren Sürücü Davranışlarını Geliştirme Eğitimi Programı Müdürlüğümüz tarafından düzenlenmektedir. Sürücü Davranışlarını Geliştirme Eğitimi, Müdürlüğümüz Halk Sağlığı Hizmetleri Başkanlığı Çevre Sağlığı Birimi tarafından yürütülmektedir.</p>
                                <p class="p-style"> Eğitime Sadece <strong>Zonguldak İlinde İkamet Eden Kişiler Kabul Edilecektir.</strong> Bu Nedenle Başvuracak Olan Kursiyerlerin <strong>Son 6 Ay’dır</strong> Zonguldak İlinde İkamet Ettiğine <strong>Tarihçeli Yerleşim Yeri Bilgileri</strong> Raporunu İbraz Etmeleri İstenecektir.</p>
                                <p class="p-style"> Kursiyer kontenjanı  <strong>50</strong> ile sınırlı olup, başvuru sırasına göre kontenjan dahilinde kursiyer kabul edilecektir. <strong>Yedek kontenjan oluşturulmayacak</strong> olup yedek listesi kabul edilmeyecektir.</p>
                                <p class="p-style"> Eğitim programına hangi sebeple olursa olsun kesintisiz devam edilmesi esastır. Herhangi bir nedenle eğitim programından ilişiği kesilen sürücüler bir sonraki eğitim programına kayıtlarını yaptırmak şartıyla yeniden devam edebilirler.</p>
                                <h1 class="h-style">KAYIT İÇİN GEREKLİ EVRAKLAR</h1>
                                <div>
                                    <ul>
                                        <li>Eğitim programına katılma isteğini belirten dilekçe (Müdürlüğümüzden verilecektir)</li>
                                        <li>2 adet Fotoğraf (Son 6 ay içerisinde çekilmiş)</li>
                                        <li>İkametgâh belgesi, Tarihçeli Yerleşim Yeri Bilgileri Raporu (e-devlet üzerinden temin edinilebilir.)</li>
                                        <li>Jandarma ya da Emniyet Müdürlüğünden alınacak yazı.</li>
                                        <li>Nüfus Cüzdanı Fotokopisi  </li>
                                        <li> 6.375 TL Eğitim Ücreti Dekontu</li>
                                        <li>Eğitim Ücretini Ödemeyenler Eğitime Kabul Edilmeyecektir.</li>
                                    </ul>
                                </div>
                                <h1 class="h-style">ÜCRETİN YATIRALACAĞI HESAP</h1>
                                <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
                                    <div class="card-header">HESAP BİLGİLERİ</div>
                                    <div class="card-body">
                                      <h5 class="card-title">HALKBANK</h5>   
                                        <p class="card-text">Zonguldak İl Sağlık Müdürlüğü Döner Sermaye Hesabı</p>
                                        <p class="card-text">IBAN: TR 91 0001 2009 8060 0005 0002 21</p>
                                    </div>
                                  </div>
                            </div>
                    </div>
                </div>
            </div>

            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </body>
</html>